---
import Layout from "../components/Layout.astro";
import FormattedDate from "../components/FormattedDate.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog"))
  .filter((p) => p.data.published !== false)
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<Layout>
  <div class="home">
    <ul class="posts">
      {posts.map((post) => (
        <li>
          <span class="post-date">
            <FormattedDate date={post.data.pubDate} />
          </span>
          <a class="post-link" href={`/post/${post.id}/`}>{post.data.title}</a>
          {post.data.excerpt && (
            <>
              <br />
              {post.data.excerpt}
            </>
          )}
        </li>
      ))}
    </ul>

    {posts.length === 0 && (
      <p style="color: var(--color-muted);">No posts yet.</p>
    )}
  </div>
</Layout>
